doctype
html(lang="en")
  head
    meta(charset='utf-8')
    title fibBSPViTodo
    link(rel="stylesheet", href="../resources/css/fibBSPViTodo.css")
    script(async, defer, type="module", src="../resources/js/lexer.js")
    script(async, defer, type="module", src="../resources/js/display.js")

  body

    // editor section
    div#editorContainer
